<!-- Start About -->
<section class="full-page clearfix" id="about">
    <div class="about">
        <div class="container-fluid">
            <div class="about-wrapper">
                <div class="row">
                    <div class="col-md-6">
                        <div class="about-content">
                            <h1>
                                <span>Eugène Rodolphe Mazamda Tangueu</span>
                            </h1>
                            <h4>Architecte Junior DevOps & Cloud</h4>
                            <p>Passionné d'informatique depuis de nombreuses années, j'adore être challengé et relever de nouveaux défis. Par ailleurs, je suis déterminé et très motivé à monter en compétence sur le domaine de l'Architecture Cloud, tout en m'épanouissant avec des projets dont j'aurai la responsabilité.</p>
                            <p>Polyvalent, compétent, rigoureux et enthousiaste avec une grande capacité d'adaptation, je serai rapidement opérationnel.</p>
                            <p>Curieux et à l'affut des dernières tendances et technologies, je serai ravi de mettre à profit au sein de votre société, mes connaissances adaptées à vos besoins. Je serais un atout majeur pour votre entreprise.</p>
                            <p>..............................</p>

                            <div class="clearfix">
                                <ul class="list-inline home-social-share float-left">
                                    <li class="list-inline-item"><a href="{{site.facebook_url}}" target="blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.gitlab}}" target="blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.github_url}}" target="blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="{{site.linkedin_url}}" target="blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                </ul>

                                <!-- Link to Donwload CV -->
                                <a href="#" class="home-cv-btn btn btn-link float-right" target="blank">download cv <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>