<!-- Start Header -->
<header class="eugene-aside">

    <!-- Control Bar -->
    <div class="control-bar">
        <div class="text-center">
            <span class="menu-toggle">
                <i class="chart"></i>
                <i class="chart"></i>
                <i class="char"></i>
            </span>
        </div>
    </div>

    <!-- Start SideBarMenu -->
    <div class="eugene-slide-menu menu-open navbar-scrolled">
        <div class="eugene-fixed-nav">
            <div class="eugene-nav-logo">
                <a href="{{ site.url }}">
                    <img src="{{ site.baseurl }}/assets/images" alt="fixedn nav logo" />
                </a>
            </div>
            <nav>
                <ul class="eugene-nav-menu list-inline">
                    <li class="active">
                        <a href="#about" class="btn-animated js-scroll-trigger">A Propos <i class="icon-about"></i></a>
                    </li>
                    <li>
                        <a href="#skills" class="btn-animated js-scroll-trigger">Mes Compétences<i class="icon-skills"></i></a>
                    </li>
                    <li>
                        <a href="#experiences" class="btn-animated js-scroll-trigger">experiences <i class="icon-experiences"></i></a>
                    </li>
                    <li>
                        <a href="#testimonials" class="btn-animated js-scroll-trigger">tégmoignages <i class="icon-testimonials"></i></a>
                    </li>
                    <li>
                        <a href="#blog" class="btn-animated js-scroll-trigger">blog <i class="icon-blog"></i></a>
                    </li>
                    <li>
                        <a href="#certifications" class="btn-animated js-scroll-trigger">certifications <i class="far fa-certificate"></i></a>
                    </li>
                    <li>
                        <a href="#contact" class="btn-animated js-scroll-trigger">contact <i class="icon-contact"></i></a>
                    </li>
                </ul>
            </nav>

        <div class="homepage-copyright">
            <ul class="list-inline fixed-social-share">
                <li class="list-inline-item"><a href="{{site.facebook_url}}"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="{{site.twitter_url}}"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="{{site.github_url}}"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="{{site.google_plus_url}}"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                <li class="list-inline-item"><a href="{{site.youtube_url}}"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
            </ul>

            <p class="copyright">Copyright &copy; - 2020 Eugene Rodolphe - PortFolio <br/><a href="#">Cloud</a></p>
        </div>
        </div>
    </div>

    <!-- End SideBarMenu -->
</header>

<!-- End Header -->