<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="eugene description">
    <meta name="eugene" content="iBlog blog site">
    
    <!-- Title -->
    <title>
        {{ site.title }}
    </title>

    <!-- Call favicon icon -->

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css"/>

    <!-- Font-awesome style -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/font-awesome.min.css"/>

    <!-- lightbox style -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/lightbox.min.css"/>
    
	<!-- animated style -->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/animate.css"/>

    <!-- Customs css -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css" />

    <!-- Customs Responsive CSS -->

    <!-- Scripts -->
    <script src="https://kit.fontawesome.com/927a9f1e0f.js"></script>

    <!--call lora font stylesheet-->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,600" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

</head>