<script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
<script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/assets/js/jquery.easing.min.js"></script>
<script src="{{site.baseurl}}/assets/js/isotope.pkgd.min.js"></script>
<script src="{{site.baseurl}}/assets/js/lightbox.min.js"></script>
<script src="{{site.baseurl}}/assets/js/macy.min.js"></script>
<script src="{{site.baseurl}}/assets/js/wow.min.js"></script>
<script src="{{site.baseurl}}/assets/js/custom.js"></script>