<!-- Start Skills  -->
<section class="full-page pt-30 clearfix" id="skills">
    <div class="skills">
        <div class="container-fluid">
            <div class="skills-wrapper text-center">

                <!-- Skills Techniques -->
                <div class="section-title">
                    <h2>COMPÉTENCES TECHNIQUES</h2>
                    <div class="border-center"></div>
                </div>

                <div class="row">
                    {% for skills_data in site.data.skills  %}
                    <div class="col-md-4 col-sm-12">
                        <div class="skills-box wow fadeIn text-center">
                            <h5>{{skills_data.title}}</h5>
                            <p>{{skills_data.desc}}</p>
                            <div class="progressbar-main">
                                <div class="progress">
                                 <div class="progress-bar  active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:{{ skills_data.progress }}"></div>
                                </div>
                                <span class="progress-percentage">{{skills_data.progress}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div> <!-- End skills techniques -->

                <!-- Compétences Humaines -->
                <div class="section-title">
                    <h2>COMPÉTENCES Humaines</h2>
                    <div class="border-center"></div>
                </div>
                <div class="row">
                    {% for skills_data in site.data.skills_humaines  %}
                    <div class="col-md-4 col-sm-12">
                        <div class="skills-box wow fadeIn text-center">
                            <h5>{{skills_data.title}}</h5>
                            <p>{{skills_data.desc}}</p>
                            <div class="progressbar-main">
                                <div class="progress">
                                 <div class="progress-bar  active" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width:{{ skills_data.progress }}"></div>
                                </div>
                                <span class="progress-percentage">{{skills_data.progress}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- End Skills humaines -->
            </div>
        </div>
    </div>
</section>
<!-- End Skills -->