/* Eugene Main Content */
#about,
#skills,
#experiences
#contact,
#blog,
#certification,
#testimonials {
    padding-top: 80px;
    padding-bottom: 30px;
}

.pd-0{
	padding-bottom:0 !important;
}
.pt-30{
	padding-top:100px !important;
}
.skills-wrapper,
.about-wrapper,
.experiences-tech-wrapper,
.certification-wrapper,
.blog-wrapper,
.testimonials-wrapper,
.contact-wrapper{
	padding:0 30px;
	
}
/* 2.1 about me */
.section-title{
	margin-bottom: 60px;
}
#about{
    background-color: #E9E8E6;
    background-image: url();
    background-repeat: no-repeat;
    background-size: 80%;
    background-position:right top;
    background-attachment: fixed;
}
.about-content{
	padding-bottom:150px;
}
.about-content h1 {
    text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
}
.about-content h4{
    text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-bottom:30px;
}
.about-content p{
    margin-bottom:30px;
}
.about-content span {
    font-size: 56px;
}
.about-content .home-social-share{
	margin-bottom:0px;
}
.about-content .home-social-share a{
    border: 1px solid #7e7e7e;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: block;
    text-align: center;
    padding-top: 8px;
    color: #7e7e7e;
	-webkit-transition: 1s all;
	transition:1s all;
}
.about-content .home-social-share a:hover{
    border-color: #0e0e0e;
	background:#0e0e0e;
    color: #ffffff;
}
.about-content .home-cv-btn{
    color: #0e0e0e;
    text-transform: uppercase;
    font-size: 18px;
}
.about-content-img{
    padding-left:60px;
	padding-top:40px;
}

/* 2.2 skills */
.skills{
	background-color:#ffffff;
}
.skills-wrapper .border-center{
	height:1px;
	width:345px;
    margin:0px auto;
	background:#0e0e0e;
}
.skills-wrapper h2{
	text-transform:uppercase;
}
.progressbar-main{
    height: 20px;
    max-width: 330px;
    margin:0 auto;
}
.progress{
    border-radius:0;
    height: 3px;
    max-width: 250px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    background-color: #d0cfcf;
    width: 100%;
}
.progress .progress-bar, .progress .progress-bar.progress-bar-default {
    background-color: #0e0e0e ;
}
.progress  .progress-bar{
    -webkit-animation-name: animateBar;
            animation-name: animateBar;
    -webkit-animation-iteration-count: 1;
            animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    -webkit-animation-duration: 1.0s;
            animation-duration: 1.0s;
}

@-webkit-keyframes animateBar {
    0% {-webkit-transform: translateX(-100%);transform: translateX(-100%);}
    100% {-webkit-transform: translateX(0);transform: translateX(0);}
}

@keyframes animateBar {
    0% {-webkit-transform: translateX(-100%);transform: translateX(-100%);}
    100% {-webkit-transform: translateX(0);transform: translateX(0);}
}
.progress-percentage{
	font-size:14px;
	
}
.skills-box{
	background-color: #f0f0f0;
    padding: 40px;
	margin-bottom:30px;
	position:relative;
	-webkit-transition: 0.5s all;
	transition:0.5s all;
}
.skills-box:hover{
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.05);
}
.skills-box:before{
    content: "";
    background-image: url(../images/icons/skills-box-shadow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -25px;
    left: 0px;
    right: 0px;
    height: 30px;
	opacity:0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	-webkit-transition: 0.5s all;
	transition:0.5s all;
}
.skills-box:hover:before{
	opacity:1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.skills-box h5{
	text-transform:capitalize;
}
.skills-project-box{
	background-color: #f5f5f5;
    padding: 40px 100px;
    position: relative;
	margin-bottom:15px;
}
.skills-project-box p{
	margin-bottom:30px;
}
.skills-project-box .skills-project-btn{
    border-radius: 0;
    border: 1px solid #0e0e0e;
    padding: 10px 30px;
    text-transform: uppercase;
    background: transparent;
    color: #0e0e0e;
	-webkit-transition: 1s all;
	transition:1s all;
}
.skills-project-box .skills-project-btn:hover{
    background: #0e0e0e;;
    color: #ffffff;
}
.skills-project-box:before{
    content: "";
    background-image: url(../images/icons/skills-projects-shadow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    bottom: -30px;
    left: 0;
    right: 0;
    height: 15px;
	opacity:0.5;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
}
.skills-flower-image img{
    max-width: 210px;
}

/* 2.4 experiences */
.experiences{
	background-color:#ffffff;
}
.experiences-wrapper .border-center{
	height:1px;
	width:290px;
    margin:0 auto;
	background:#0e0e0e;
}
.experiences-wrapper h2 {
    text-transform: uppercase;
    margin: 10px 0px;
}
.experiences-title{
    background-color: #f4f4f4;
    width: 100%;
    display: table;
	margin-bottom:40px;
}
.experiences-title-box{
	width: 110px;
    height: 80px;
    background-color: #0e0e0e;
    display: block;
    float: left;
}
.experiences-title-box img{
   padding-top:15px;
}
.experiences-title p{
    font-weight: 700;
    text-transform: uppercase;
    float: right;
    padding-top: 30px;
    padding-right: 30px;
}
.experiences-info-wrapper{
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.1);
    padding: 40px;
	position:relative;
	background-color:#ffffff;
	z-index:2;
	text-align:left;
	margin-bottom:40px;
	
}
.experiences-info .col-md-6{
	padding-right:30px;
}
.experiences-info-wrapper .experiences-datetime{
	position: absolute;
    right: -20px;
    background-color: #0e0e0e;
    color: #ffffff;
    padding: 12px 20px;
    top: 40px;
	z-index:2;
}
.experiences-info-wrapper .experiences-datetime:before{
    content: "";
    background-image: url(../images/icons/educational-history-before.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right:0;
    bottom: -9px;
    width: 20px;
    height: 9px;
    z-index: 1;
	
}
.experiences-info-wrapper h3{
	text-transform:uppercase;
}
.experiences-info-wrapper span{
    font-size: 16px;
    margin-bottom: 15px;
    display: block;
}
.experiences-info-wrapper p{
    margin:0px;
	padding-right:70px;
}
.work-history-wrapper{
    border: 2px solid #cccccc;
    padding: 30px;
}
.work-history-wrapper span{
    margin-bottom:20px;
	display:block;
}
.work-history-wrapper p{
    margin:0;
}
.work-history-img{
	margin-bottom:10px;
}
.work-history-img img{
	max-width:100%;
}

/* 2.6 blog */
.blog{
	background-color:#ffffff;
}
.blog-wrapper .border-center{
	height:1px;
	width:195px;
    margin:0 auto;
	background-color:#0e0e0e;
}
.blog-wrapper h2 {
    text-transform: uppercase;
    margin: 10px 0;
}
.single-blog-wrapper{
	background-color:#f4f2f2;
	margin-bottom:30px;
}
.single-blog-content{
	padding:30px;
}
.single-blog-wrapper img{
	width:100%;
}
.single-blog-wrapper span{
    border-bottom: 1px solid  #d2d2d2;
    max-width: 60%;
    font-weight: 700;
    font-size: 16px;
    padding-bottom: 8px;
    margin-bottom: 24px;
    display: block;
}
.single-blog-wrapper .blog-details-btn{
	color:#0e0e0e;
	font-weight:700;
	text-transform:capitalize;
	padding-left:0;
}
.single-blog-wrapper .blog-details-btn:hover{
	color:#0e0e0e;
}
.single-blog-wrapper .blog-social-share{
	margin:0;
	padding-top:5px;
}
.single-blog-wrapper .blog-social-share li a{
	color:gray;
	font-size:14px;
	margin-right:10px;
	-webkit-transition: 0.5s all;
	transition:0.5s all;
}
.single-blog-wrapper .blog-social-share li a:hover{
	color:#0e0e0e;
}
/* 2.7 testimonials */
.testimonials{
	background-color:#ffffff;
}
.testimonials-wrapper .border-center{
	height:1px;
	width:240px;
    margin:0 auto;
	background-color:#0e0e0e;
}
.testimonials-wrapper h2 {
    text-transform: uppercase;
    margin: 10px 0px;
}
.testimonials-author{
    clear: both;
    display: table;
    width: 100%;
    margin-bottom: 30px;
	z-index:2;
	position:relative;
}
.testimonials-author-wrapper{
    display: table;
    background: #f6f4f5;
	padding:30px 0;
}
.testimonials-author:before{
    content: "";
    background-image: url(../images/icons/testimonials-shadow.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: -10px;
    left: 0;
    height: 25px;
    z-index: -1;
    opacity: 0.5;
}
.testimonials-author-img {
	width:160px;
	height:auto;
}
.testimonials-author-img img{
    width: 100%;
    padding: 10px;
    max-width: 130px;
}
.testimonials-author-info {
	width:calc(100% - 160px);
	padding-right:15px;
}
.testimonials-author-info .testimonials-star{
	margin-bottom:10px;
}
.testimonials-author-info .testimonials-star i{
	color:#939191;
}
.testimonials-author-info .testimonials-star .active i{
	color:#0e0e0e;
}
.testimonials-author-info .author-name{
	font-size:20px;
	text-transform:capitalize;
	font-weight:700;
}
.testimonials-author-info .author-frofess{
	font-size:16px;
	text-transform:capitalize;
}
/* 2.8 contact */
#contact{
	overflow-x:hidden;
}
.contact{
	background-color:#ffffff;
	position:relative;
	background-image:url(../images/icons/contact-bg.png);
	background-position:right top;
	background-repeat:no-repeat;
	
}
.contact-wrapper .border-center{
	height:1px;
	width:240px;
    margin:0px auto;
	background:#0e0e0e;
}
.contact-wrapper h2 {
    text-transform: uppercase;
    margin: 10px 0px;
}
.contact-box {
    border: 2px solid #cccccc;
    background-color: #ffffff;
    padding: 60px 30px 30px;
    margin-bottom: 60px;
    position: relative;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
}
.contact-box:last-child {
    margin-bottom:60px;
}
.contact-box  h5{
	text-transform:capitalize;
}
.contact-box  p{
	margin:0;
}
.contact-box  a{
	display:inline-block;
	word-break:break-all;
}
.contact-box  .contact-border{
    width: 60px;
    height: 1px;
    background: #d0d0d0;
    margin:0 auto;
    margin-bottom: 15px;
}
.contact-box-logo {
    width: 90px;
    height: 90px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: -45px;
    border: 1px solid #d4d4d4;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    padding-top: 15px;
}
.contact-form h3{    
	width:60%;
	margin-bottom:60px;
	font-weight:400;
}
.contact-form h3 span{    
	font-weight: 700;
    font-size: 48px;
    text-transform: capitalize;
}
.contact-form textarea{    
    width:100%;
    background: #ffffff;
    border:0;
    border-radius:0;
    padding: 15px;
    box-shadow:0 0 70px 0 #dadada;
}
.contact-form input{   
    background: #ffffff;
    border: 0;
    border-radius: 0;
    padding: 15px;
    box-shadow: 0 0 70px 0 #dadada;
}
.contact-form form{   
    padding: 60px 30px;
    background: #f8f7f7;
	z-index:2;
    max-width: 640px;
}
.contact-form button{   
    display: block;
    width: 100%;
    padding: 15px 15px;
    background:#0e0e0e;
    border: 0;
    border-radius: 0;
    text-transform: uppercase;
    text-align: center;
	-webkit-transition: 0.5s all;
	transition:0.5s all;
}
.contact-form button:hover{   
    color:#0e0e0e;
    background: #f0f0f0;
    box-shadow:0 0 70px 0 #dadada !important;
}
.company-info p {
    margin-bottom:0;
}

.eugene-bg {
    background-color: #0e0e0e;
}
