/* eugene-aside */

.eugene-aside {
    position: fixed;
    height: 100%;
    width: 325px;
    left: 0px;
    background: #0e0e0e;
    top: 0px;
}

.control-bar {
    height: 40px;
    width: 45px;
    float: left;
    display: none;
    position: absolute;
    z-index: 999;
    top: 5px;
    right: -51px;
    background: #0e0e0e;
}

.control-bar .menu-toggle {
    cursor: pointer;
    padding: 10px 12px;
    display: block;
    margin-top: 3px;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.control-bar .menu-toggle .chart {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.eugene-aside .control-bar .chart {
    width: 20px;
    height: 2px;
    background-color: #fff;
    margin-bottom: 4px;
}

.eugene-main-content {
    width: calc(100% - 325px);
    -webkit-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
	float:right
}

.eugene-nav-logo {
    padding: 15px;
}

.eugene-nav-logo img{
    width: 110px;
}

.eugene-nav-menu{
    margin-bottom: 0px;
}

.eugene-nav-menu li a {
    display: block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    background: #f0f0f0;
    padding: 25px 20px;
    text-transform: uppercase;
}

.eugene-nav-menu li a:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #0e0e0e;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .eugene-nav-menu li a:hover, .eugene-nav-menu li a:focus, .eugene-nav-menu li a:active {
    color: white;
  }
  .eugene-nav-menu li a:hover:before,
  .eugene-nav-menu li a:focus:before,
  .eugene-nav-menu li a:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .eugene-nav-menu li:nth-child(odd) a{
      border-bottom: 1px solid #abaaaa;
  }
  .eugene-nav-menu li:last-child a{
      border-bottom: 0;
  }
  .eugene-nav-menu li.active a{
      background:#0e0e0e;
      border-color:#0e0e0e;
      color:#ffffff;
  }
  .eugene-nav-menu li a .icon-about{
      background-image: url(../images/icons/eugene-icon-about.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      float: right;
      width: 15px;
      height: 15px;
      position: relative;
      top: 4px;
  }
  .eugene-nav-menu li a .icon-skills{
      background-image: url(../images/icons/eugene-icon-skill.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      float: right;
      width: 15px;
      height: 12px;
      position: relative;
      top: 4px;
      transition:0.5s all;
  }
  .eugene-nav-menu li a:hover .icon-skills,
  .eugene-nav-menu li a:focus .icon-skills{
      background-image: url(../images/icons/skill-hover.png);
      transition:0.5s all;
  }
  .eugene-nav-menu li a .icon-services{
      background-image: url(../images/icons/eugene-icon-service.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      float: right;
      width: 15px;
      height: 15px;
      position: relative;
      top: 4px;
      transition:0.5s all;
  }
  .eugene-nav-menu li a:hover .icon-services,
  .eugene-nav-menu li a:focus .icon-services{
      background-image: url(../images/icons/service-hover.png);
      transition:0.5s all;
  }
  .eugene-nav-menu li a .icon-experiences{
      background-image: url(../images/icons/eugene-icon-experience.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      float: right;
      width: 15px;
      height: 15px;
      position: relative;
      top: 4px;
      transition:0.5s all;
  }
  .eugene-nav-menu li a:hover .icon-experiences,
  .eugene-nav-menu li a:focus .icon-experiences{
      background-image: url(../images/icons/experience-hover.png);
      transition:0.5s all;
  }
  .eugene-nav-menu li a .icon-portfolio{
      background-image: url(../images/icons/eugene-icon-fortfolio.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      float: right;
      width: 16px;
      height: 10px;
      position: relative;
      top: 4px;
      transition:0.5s all;
  }
  .eugene-nav-menu li a:hover .icon-portfolio,
  .eugene-nav-menu li a:focus .icon-portfolio{
      background-image: url(../images/icons/portfolio-hover.png);
      transition:0.5s all;
  }
  .eugene-nav-menu li a .icon-blog{
      background-image: url(../images/icons/eugene-icon-blog.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      float: right;
      width: 16px;
      height: 14px;
      position: relative;
      top: 4px;
      transition:0.5s all;
  }
  .eugene-nav-menu li a:hover .icon-blog,
  .eugene-nav-menu li a:focus .icon-blog{
      background-image: url(../images/icons/blog-hover.png);
      transition:0.5s all;
  }
  .eugene-nav-menu li a .icon-testimonials{
      background-image: url(../images/icons/eugene-icon-testimonial.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      float: right;
      width: 15px;
      height: 14px;
      position: relative;
      top: 4px;
      transition:0.5s all;
  }
  .eugene-nav-menu li a:hover .icon-testimonials,
  .eugene-nav-menu li a:focus .icon-testimonials{
      background-image: url(../images/icons/testimonial-hover.png);
      transition:0.5s all;
  }
  .eugene-nav-menu li a .icon-contact{
      background-image: url(../images/icons/eugene-icon-contact.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      float: right;
      width: 18px;
      height: 13px;
      position: relative;
      top: 4px;
      transition:0.5s all;
  }
  .eugene-nav-menu li a:hover .icon-contact,
  .eugene-nav-menu li a:focus .icon-contact{
      background-image: url(../images/icons/contact-hover.png);
      transition:0.5s all;
  }
  .fixed-social-share{
      margin-bottom: 0px;
      text-align: center;
      padding-top: 45px;
      padding-bottom: 20px;
  }
  .fixed-social-share a{
     color:#484848;
     -webkit-transition: 1s all;
     transition:1s all;
  }
  .fixed-social-share a:hover{
     color:#ffffff;
  }
  .eugene-fixed-nav .copyright{
      font-size:13px;
      text-align:center;
      color:#ffffff;
      font-weight:400;
      margin-bottom:0px;
      padding: 0px 30px;
  }
  .eugene-fixed-nav .copyright a{
      color:#ff0000;
  }