/*back to top*/
.cd-top {
    display: inline-block;
    height: 35px;
    width: 35px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background-image: url('../images/icons/up-arrow-angle.png');
    background-color:#ff0000;
    background-repeat:no-repeat;
    background-size:20px 20px;
    background-position:center;
    visibility: hidden;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
    border-radius:0px;
  }
  .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
  
  }
  .cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  .cd-top.cd-fade-out {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    z-index:99;
  }
  .no-touch .cd-top:hover {
    background-color: #e86256;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  }
  
  .isotope {
    -webkit-transition-property: height;
       -moz-transition-property: height;
        -ms-transition-property: height;
         -o-transition-property: height;
            transition-property: height;
  }
  
  
  .single-blog-wrapper span {
      border-bottom:0;
      margin:0;
      padding:0;
  }
  
  .services-box-logo img {
      padding-top:15px;
  }