<!DOCTYPE html>
<html lang="zxx">
    {% include head.html %}

    <body data-spy="scroll" data-target=".navbar-scrolled" data-offset="0" class="scrollspy-example loading">
        {% include header.html %}

        {{ content }}

        <!-- Start loading ==================================== -->
        <div class="loading">
            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
            </div>
        </div>

        <!-- End Loading -->
        <!-- Call plugins file -->
        {% include plugins-file.html %}
    </body>
</html>