--- 
layout: default 
--- 

<div class="container">
    <div class="row">
        <div class="post-img">
            <img src="{{ page.image }}" alt="{{ post.title }}">
            <h2 class="post-title">
                {{ page.title }}
            </h2>
            <p>
                {{ page.content }}
            </p>
        </div>

        Test Eugene PortFolio
    </div>
</div>